#root {
  max-width: 800px;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
}

.search-header-form {
  display: flex;
  gap: 1em;
}

.search-header-field {
  flex: 2;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
}

.search-header-button {
  flex: 1;
  font-size: 1.5em;
}

.search-results {
  margin: 1em 0;
  background-color: rgba(31, 31, 31, 0.5);
  border-radius: 8px;
  border: 1px solid transparent;
}

.search-results-header {
  margin: 0;
  padding: 0.5em;
  font-size: 1.5em;
}

.card-list {
  width: 100%;
  padding: 1em;
}

.card-list-header {
  background-color: rgba(94, 94, 94, 0.7);
}

.card-list-header-row {
  display: flex;
}

.card-list-header-name {
  flex: 1;
}

.card-list-header-description {
  flex: 1;
}

.card-list-body {
  display: block;
  max-height: 20vh;
  overflow-y: auto;
}

.card-section {
  display: flex;
}

.card-section-name {
  flex: 1;
}

.card-section-description {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  gap: 0.5em;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-item-button.active {
  background-color: rgba(94, 94, 94, 0.9);
  color: white;
}

/* rename: */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-panel {
  flex: 1;
  padding: 10px;
}

.split-view .left-panel {
  flex: 0.6;
}

.details-panel {
  flex: 0.4;
  background: #f8f8f8;
  padding: 10px;
  border-left: 1px solid #ccc;
  position: relative;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: red;
  color: white;
  border: none;
  padding: 5px;
}
